@model ProjectEntity.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdPost</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
    
            <div class="form-group">
                
                <div class="col-md-10">

                    <input type="hidden" value="@Session["regid"]" name="pregid" />

                  
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.product_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.product_category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownList("product_category", new List<SelectListItem>

               {
                   new SelectListItem { Text="Fish",Value="Fish"},
                   new SelectListItem { Text="Meat",Value="Meat"},
                   new SelectListItem { Text="Rice",Value="Rice"},
                   new SelectListItem { Text="Vegetables",Value="Vegetables"},
                   new SelectListItem { Text="Fruit",Value="Fruit"}

               }, "Select Category")


                    @Html.ValidationMessageFor(model => model.product_category, "", new { @class = "text-danger" })
                </div>
            </div>
    
            
    
            <div class="form-group">
                @Html.LabelFor(model => model.product_quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.product_quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_quantity, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.price_per_unit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.price_per_unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price_per_unit, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.pphone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pphone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pphone, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.pdivision, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("pdivision", new List<SelectListItem>

               {
                   new SelectListItem { Text="Barisal",Value="Barisal"},
                   new SelectListItem { Text="Dhaka",Value="Dhaka"},
                   new SelectListItem { Text="Chittagong",Value="Chittagong"},
                   new SelectListItem { Text="Khulna",Value="Khulna"},
                   new SelectListItem { Text="Mymenshingh",Value="Mymenshingh"},
                   new SelectListItem { Text="Rajshahi",Value="Rajshahi"},
                   new SelectListItem { Text="Rangpur",Value="Rangpur"},
                   new SelectListItem { Text="Sylhet",Value="Sylhet"}


               }, "Select Division")
                    @Html.ValidationMessageFor(model => model.pdivision, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>


    <div>
        @Html.ActionLink("Back to List", "/../Home/Index")
    </div>
   }
</body>
</html>
